<div class="col-md-6 offset-md-3">
    <h3> Create Employee </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> Country name</label>
            <input type="text" class ="form-control" id = "country_name"
                [(ngModel)] = "country.country_name" name = "country_name">
        </div>
    
        <div class="form-group">
            <label> capacity</label>
            <input type="number" class ="form-control" id = "capacity"
                [(ngModel)] = "country.capacity" name = "capacity">
        </div>
    
        
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 